!!$HOME/.Xresources
URxvt.preeditType:Root
!!调整此处设置输入法
URxvt.inputMethod:fcitx
!!颜色设置数字越大选择后越明显
URxvt.depth:100
!URxvt.depth:32
!!中括号内数表示透明度
URxvt.inheritPixmap:true
URxvt.background:#000000
URxvt.foreground:#ffffff
URxvt.colorBD:Gray95
URxvt.colorUL:Green
URxvt.color1:Red2
URxvt.color4:RoyalBlue
URxvt.color5:Magenta2
URxvt.color8:Gray50
URxvt.color10:Green2
URxvt.color12:DodgerBlue
URxvt.color14:Cyan2
URxvt.color15:Gray95
!!URL操作
URxvt.urlLauncher:firefox
URxvt.matcher.button:1
URxvt.perl-ext-common: selection-to-clipboard,matcher
!!URxvt.perl-ext-common: selection-to-clipboard,matcher,resize-font,searchable-scrollback
!!动态放大缩小文字
!!URxvt.keysym.C-Down:  resize-font:smaller
!!URxvt.keysym.C-Up:    resize-font:bigger
!!禁用ctrl+shift快捷键
URxvt.iso14755: false
URxvt.iso14755_52: false
!!滚动条设置
URxvt.scrollBar:False
URxvt.scrollBar_floating:False
URxvt.scrollstyle:plain
!!滚屏设置
URxvt.mouseWheelScrollPage:True
URxvt.scrollTtyOutput:False
URxvt.scrollWithBuffer:True
URxvt.scrollTtyKeypress:True
!!光标闪烁
URxvt.cursorBlink:True
URxvt.saveLines:30000
!!边框
URxvt.borderLess:False
!!放大字体
!!URxvt.perl-ext-common:  ...,resize-font,...
!!字体设置
Xft.dpi:96

!!URxvt.boldfont:xft:Fantasque Sans Mono:antialias=True:pixelsize=16:xft:Source Code Pro:antialias=True:pixelsize=16
!!URxvt.font:xft:Source Code Pro:antialias=True:pixelsize=15
!!URxvt.boldfont:xft:Source Code Pro:antialias=True:pixelsize=15
URxvt.font:xft:Source Code Pro for Powerline:pixelsize=16,xft:Meslo LG M for Powerline:pixelsize=16,xft:SourceHanSerifCN-Medium:pixelsize=15


